# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\88_ymwoo\study\codeTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
